[Unit] 
Description = Apply my IPv6 iptables Rules
Before=network.target

[Service] 
Type=oneshot
ExecStart=/bin/sh -c "/sbin/ip6tables-restore < /etc/my-ip6tables.rules"

[Install]
WantedBy=multi-user.target
