apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    job-name: skydriver-test-worker
    k8s-app: skydriver-test-worker
  name: skydriver-test-worker
  namespace: icecube-skymap-scanner
spec:
  selector:
    matchLabels:
      k8s-app: skydriver-test-worker
  replicas: 2
  template:
    metadata:
      labels: 
        k8s-app: skydriver-test-worker
    spec:
      # restartPolicy: OnFailure
      ttlSecondsAfterFinished: 7200
      hostIPC: true
      initContainers:
      - env:
        - name: EVENT_STARTUP_JSON
          value: "run00137467.evt000064735045.EHE-8-512-1672947472.json"
        name: skydriver-get-startup-config
        image: busybox
        command:
          # - echo
          # - "https://icecube:skua@user-web.icecube.wisc.edu/~briedel/$(EVENT_STARTUP_JSON)"
        - wget
        - "-O" 
        - "/download/startup.json"
        - "https://icecube:skua@user-web.icecube.wisc.edu/~briedel/$(EVENT_STARTUP_JSON)"
        volumeMounts:
        - name: startup-config-mount
          mountPath: "/download"
      containers:
      - env:
        # - name: K8S_PROVISIONER_TYPE
        #   value: PRPHTCondorProvisioner
        - name: SKYDRIVER_TOKEN
          valueFrom:
            secretKeyRef: 
              name: pulsar-300-token-admin
              key: TOKEN
        - name: SKYDRIVER_MQ_SERVER
          value: "34.72.37.204"
        - name: I3_TESTDATA
          value: "/cvmfs/icecube.opensciencegrid.org/data/i3-test-data-svn/trunk"
        - name: I3_DATA
          value: "/cvmfs/icecube.opensciencegrid.org/data"
        # - name: SKYDRIVER_GCD_DIR
        #   value: "/cvmfs/icecube.opensciencegrid.org/data/GCD/"
        image: icecube/skymap_scanner:3.0.68
        imagePullPolicy: Always
        name: skydriver-worker
        command: 
        - "/bin/bash"
        - "/opt/icetray/bin/icetray-shell"
        args:  
        - "python"
        - "-m"
        - "skymap_scanner.client"
        - "--startup-json-dir"
        - "/skymap-scanner-startup-config/"
        - "--broker"
        - "$(SKYDRIVER_MQ_SERVER)"
        - "--auth-token"
        - "$(SKYDRIVER_TOKEN)"
        # - "-g"
        # - "$(SKYDRIVER_GCD_DIR)"
        resources:
          limits:
            cpu: 2250m
            memory: 6Gi
          requests:
            cpu: 1500m
            memory: 5Gi
        volumeMounts:
        - mountPath: /cvmfs/config-osg.opensciencegrid.org
          name: cvmfs-config-osg
        - mountPath: /cvmfs/oasis.opensciencegrid.org
          name: cvmfs-oasis
        - mountPath: /cvmfs/icecube.opensciencegrid.org
          name: cvmfs-icecube
        - mountPath: /cvmfs/singularity.opensciencegrid.org
          name: cvmfs-singularity
        # - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
        #   name: kube-api-access-nqrrp
        #   readOnly: true
        - mountPath: /skymap-scanner-startup-config/
          name: startup-config-mount
          readOnly: true
      volumes:
      - name: cvmfs-config-osg
        persistentVolumeClaim:
          claimName: cvmfs-config-osg
      - name: cvmfs-oasis
        persistentVolumeClaim:
          claimName: cvmfs-oasis
      - name: cvmfs-icecube
        persistentVolumeClaim:
          claimName: cvmfs-icecube-x86
      - name: cvmfs-singularity
        persistentVolumeClaim:
          claimName: cvmfs-singularity
      - name: startup-config-mount
        emptyDir: {}

